<h1 class="page-header">Overview NDI</h1>
<p>
  Network Device Interface (NDI) is a royalty free standard developed by NewTek to enable video-compatible products to communicate, deliver, and receive broadcast quality video in a high quality, low latency manner that is frame-accurate and suitable for switching in a live production environment.
</p>
<p>
  The protocol is designed to be highly robust and is used in many network-connected video devices. It has been widely adopted and the installed based for NDI exceeds 1 million users.
</p>
<hr />

<p>
  For urban centres outside metropolitan areas, that generate a similar attraction at smaller scale for their region, the concept of the regiopolis and respectively regiopolitan area or regio was introduced by German professors in 2006
</p>
<p class="info">
  This site text is drawn from Wikipedia, for demonstration purpose only.
</p>
